@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&family=Source+Code+Pro&display=swap");

::-webkit-scrollbar {
  display: none;
}

* {
  user-select: none;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Source Code Pro", monospace;
}
#body {
  overflow-x: hidden;
}
.hero-text {
  font-size: 5rem;
  letter-spacing: 1.6rem;
  span {
    color: orange !important;
  }
  @media (max-width: 600px) {
    font-size: 2.4rem;
    letter-spacing: 1rem;
  }
}
.skill-header {
  font-size: 1.2rem;
}
.contact {
  i{
    margin-right: 1rem;
    font-size: 2rem;
  }
}
.navbar-toggler-icon,
.navbar-toggler {
  border: none;
}
.fa-moon,
.fa-sun {
  cursor: pointer;
}

.skills {
  .group {
    background-color: rgba($color: #303030, $alpha: .1);
    border: 1px solid rgba($color: gray, $alpha: .2);
    border-radius: 8px;
    padding: .5rem .5rem 1.5rem .5rem;
    position: relative;
  }
  .position-absolute{
    font-size: .8rem;
    color: rgba($color: orange, $alpha: .8) !important;
  }
  i {
    font-size: 4rem;
    cursor: pointer;
  }
  .bxl-html5 {
    color: #e5532d;
    background: -webkit-linear-gradient(left, #e5532d, #f16a30);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bxl-css3 {
    color: #0870c2;
  }
  .bxl-javascript {
    color: #d7bc3b;
  }
  .bxl-angular {
    color: #de0837;
    background: -webkit-linear-gradient(left, #de0837, #e746f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bxl-react {
    color: #66dbfb;
  }
  .bxl-nodejs {
    color: #8fc708;
  }
  .bxl-bootstrap {
    color: #8f1bfc;
  }
  .bxl-tailwind-css {
    color: #3ebff8;
  }
  .bxl-mongodb {
    color: #08ee69;
  }
  .bxl-postgresql {
    color: #396c94;
  }
  .bxl-gitlab{
    color: #e2492f;
  }
}

.projects {
  .col {
    margin-top: 32px;
  }
  .card{
    padding: .5rem;
    background-color: transparent !important;
    border: 1px solid rgba($color: gray, $alpha: .2) !important;
    border-radius: 8px;
  }
  img{
    border-radius: 8px;
  }
}

.progress-container {
  position: fixed;
  top: 66px;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 999;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  width: 0;
}

.loader {
  height: 2px;
  background-color: green;
  position: sticky;
  top: 66px;
  z-index: 999;
  transition: all 0.3s ease;
}

.body {
  transition: all 0.3s ease;
  color: rgba(250, 250, 250, 0.9) !important;
  background-color: #2f2f2f !important;
}
